
{:paths ["src/main"]
 :deps {
        #_gigiaj/pulumicljs #_{:local/root "../pulumi-clojurescript"}
        gigiaj/pulumicljs
        {:git/url "https://github.com/GigiaJ/pulumi-clojurescript.git"
         :git/sha "50c8098cbc6d0d07837afb1e8f763a818dd376d9"
         }
        funcool/promesa {:mvn/version "11.0.678"}
        }}