
{:paths ["src/main"]
 :deps {
        ;;gigiaj/pulumicljs {:local/root "../pulumi-clojurescript"}
        gigiaj/pulumicljs
        {:git/url "https://github.com/GigiaJ/pulumi-clojurescript.git"
         :git/sha "b7467d9da44a86a185e3bfe4307a7fe71add4134"
         }
        funcool/promesa {:mvn/version "11.0.678"}
        }}