{:source-paths ["../src/main"]
 :dependencies []
 :builds
 {:app {:target :node-script
        :output-to "../out/services.js"
        :compiler-options {:optimizations :simple}
        :release {:source-maps true}
        :main core/main!}}}